<div class="page-layout blank p-24" fusePerfectScrollbar>

   <div>
    The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.

    You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
    
    If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
    
    
    
    
    The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
    
    You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
    
    If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
    
    
    
    
    
    
    The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
    
    You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
    
    If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
    
    
    
    
    
    The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
    
    You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
    
    If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
    
    
    
    
    The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
    
    You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
    
    If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
    
    
    The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
    
    You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
    
    If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
    
   </div>

   <div style="width:100%;height:400px">
        <video  poster="assets/images/website/movie.jpg" playsinline  oncanplay="this.muted=false" style=" position: absolute;width: inherit;margin-top: -4px;" width="100%" height="420px"  controls>
            <source src='https://firebasestorage.googleapis.com/v0/b/dealswap-975d7.appspot.com/o/company_video.mp4?alt=media&token=b1d47670-42ec-4f7c-adc6-91b694a1c93e' type="video/mp4">
        </video>
   </div>

   <div>
    The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.

    You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
    
    If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
    
    
    
    
    The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
    
    You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
    
    If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
    
    
    
    
    
    
    The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
    
    You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
    
    If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
    
    
    
    
    
    The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
    
    You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
    
    If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
    
    
    
    
    The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
    
    You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
    
    If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
    
    
    The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
    
    You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
    
    If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
    
   </div>
   <div>
   The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.

   You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
   
   If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
   
   
   
   
   The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
   
   You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
   
   If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
   
   
   
   
   
   
   The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
   
   You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
   
   If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
   
   
   
   
   
   The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
   
   You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
   
   If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
   
   
   
   
   The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
   
   You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
   
   If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.
   
   
   The easiest way to create your first Azure storage account is by using the Azure portal. To learn more, see Create a storage account.
   
   You can also create an Azure storage account by using Azure PowerShell, Azure CLI, or the Azure Storage Resource Provider for .NET.
   
   If you prefer not to create a storage account in Azure at this time, you can also use the Azure storage emulator to run and test your code in a local environment. For more information, see Use the Azure Storage Emulator for Development and Testing.

   </div>

   
</div>
